<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Coneccion" connectionString="Data Source=69.162.114.204\MSSQLSERVER2014; Database=PACOHOSTEL; User Id=pacohostel; Password=wgp2mp7ry7;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="MAILsmtp" value="smtp.gmail.com"/>
    <add key="MAILpuerto" value="587"/>
    <add key="MAILanonymousmail" value="false"/>
    <add key="MAILusuario" value="soporte@pacohostel.com"/>
    <add key="MAILpassword" value="wgp2mp7ry7"/>
    <add key="MAILSSL" value="true"/>
    <add key="CorreosAdmins" value="miguelzux@gmail.com"/>
    <add key="LogoDeCorreos" value="http://pacohostel.com/images/icons/logo2.png"/>
    <add key="DirectorioRaiz" value="http://localhost:50945/"/>
    <!--<add key="DirectorioRaiz" value="http://pacohostel.com/"/> -->
  </appSettings>
  <system.web>
    
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>

</configuration>
