USE [PACOHOSTEL]
GO
/****** Object:  Table [dbo].[LOGS]    Script Date: 11/12/2019 10:43:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [nvarchar](100) NULL,
	[FECHA] [nvarchar](20) NULL,
	[MODULO] [nvarchar](50) NULL,
	[ACCION] [nvarchar](1000) NULL,
 CONSTRAINT [PK_LOGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [pacohostel].[ARCHIVOS]    Script Date: 11/12/2019 10:43:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [pacohostel].[ARCHIVOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_ARCHIVO] [nvarchar](100) NULL,
	[TIPO_ARCHIVO] [nvarchar](50) NULL,
	[ARCHIVO] [varbinary](max) NULL,
	[FECHA_REGISTRO] [nvarchar](20) NULL,
	[IDUSUARIO_REGISTRA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [pacohostel].[CONTRASENIA]    Script Date: 11/12/2019 10:43:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pacohostel].[CONTRASENIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUSUARIO] [int] NULL,
	[CONTRASENIA] [nvarchar](100) NULL,
	[ESTADO] [int] NULL,
	[FECHAREGISTRO] [nvarchar](20) NULL,
	[IDUSUARIO_REGISTRA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [pacohostel].[EDIFICIO]    Script Date: 11/12/2019 10:43:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pacohostel].[EDIFICIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_EDIFICIO] [nvarchar](50) NULL,
	[DESCRIPCION] [nvarchar](200) NULL,
	[ESTADO] [int] NULL,
	[PISOS] [int] NULL,
	[FECHAREGISTRO] [nvarchar](20) NULL,
	[IDUSUARIO_REGISTRA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [pacohostel].[ESTADO_HOTEL]    Script Date: 11/12/2019 10:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pacohostel].[ESTADO_HOTEL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [pacohostel].[FOTOS_HABITACION]    Script Date: 11/12/2019 10:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pacohostel].[FOTOS_HABITACION](
	[ID_HABITACION] [int] NULL,
	[ID_ARCHIVO] [int] NULL,
	[ESTADO] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [pacohostel].[GALERIA]    Script Date: 11/12/2019 10:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pacohostel].[GALERIA](
	[LINKFOTO] [nvarchar](100) NULL,
	[ACTIVO] [nchar](2) NULL,
	[FECHA_SUBE] [nvarchar](20) NULL,
	[PORTADA] [nchar](2) NULL,
	[DESCRIPCION] [nvarchar](50) NULL,
	[DESCRIPCION2] [nvarchar](50) NULL,
	[DESCRIPCION_EN] [nvarchar](50) NULL,
	[DESCRIPCION2_EN] [nvarchar](50) NULL,
	[ORDEN] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUSUARIO_SUBE] [int] NULL,
	[FECHAMOD] [nvarchar](20) NULL,
	[IDUSUARIO_MOD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [pacohostel].[HABITACION]    Script Date: 11/12/2019 10:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pacohostel].[HABITACION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EDIFICIO] [int] NULL,
	[NUMERO] [nvarchar](20) NULL,
	[CAMAS] [int] NULL,
	[PISO] [int] NULL,
	[PRECIO] [decimal](18, 2) NULL,
	[TIPOMONEDA] [int] NULL,
	[ESTADO] [int] NULL,
	[FECHAREGISTRO] [nvarchar](20) NULL,
	[IDUSUARIO_REGISTRA] [int] NULL,
 CONSTRAINT [PK__HABITACI__3214EC27C48A9008] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [pacohostel].[HUESPED]    Script Date: 11/12/2019 10:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pacohostel].[HUESPED](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDENTIFICADOR] [nvarchar](50) NULL,
	[NOMBRES] [nvarchar](100) NULL,
	[APELLIDOS] [nvarchar](100) NULL,
	[TELEFONO] [nvarchar](50) NULL,
	[GENERO] [nchar](1) NULL,
	[CORREO] [nvarchar](50) NULL,
	[NACIONALIDAD] [nvarchar](200) NULL,
	[FECHAREGISTRO] [nvarchar](20) NULL,
	[IDUSUARIO_REGISTRA] [int] NULL,
	[ESTADO] [int] NULL,
	[FECHAMOD] [nvarchar](20) NULL,
	[IDUSUARIOMOD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [pacohostel].[LOG_RESERVAS]    Script Date: 11/12/2019 10:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pacohostel].[LOG_RESERVAS](
	[ID] [int] NOT NULL,
	[ID_HABITACION] [int] NULL,
	[FECHA_INICIO] [nvarchar](8) NULL,
	[FECHA_FIN] [nvarchar](8) NULL,
	[ID_HUESPED] [int] NULL,
	[FECHA_CHECKIN] [nvarchar](8) NULL,
	[HORA_CHECKIN] [nvarchar](8) NULL,
	[USR_CHECKIN] [int] NULL,
	[FECHA_CHECKOUT] [nvarchar](8) NULL,
	[HORA_CHECKOUT] [nvarchar](8) NULL,
	[USR_CHECKOUT] [int] NULL,
	[FECHA_RESERVA] [nvarchar](20) NULL,
	[OBSERVACION] [nvarchar](1000) NULL,
	[IDUSUARIO_RESERVA] [int] NULL,
	[IDUSUARIO_MODIFICA] [int] NULL,
	[ACCION] [nvarchar](20) NULL,
	[COMENTARIO] [nvarchar](100) NULL,
	[FECHA_MODIFICA] [nvarchar](20) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [pacohostel].[RESERVAS]    Script Date: 11/12/2019 10:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pacohostel].[RESERVAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_HABITACION] [int] NULL,
	[FECHA_INICIO] [nvarchar](8) NULL,
	[FECHA_FIN] [nvarchar](8) NULL,
	[ID_HUESPED] [int] NULL,
	[FECHA_CHECKIN] [nvarchar](8) NULL,
	[HORA_CHECKIN] [nvarchar](8) NULL,
	[USR_CHECKIN] [int] NULL,
	[FECHA_CHECKOUT] [nvarchar](8) NULL,
	[HORA_CHECKOUT] [nvarchar](8) NULL,
	[USR_CHECKOUT] [int] NULL,
	[FECHA_RESERVA] [nvarchar](20) NULL,
	[OBSERVACION] [nvarchar](1000) NULL,
	[IDUSUARIO_RESERVA] [int] NULL,
 CONSTRAINT [PK__RESERVAS__3214EC275B63B3BB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [pacohostel].[TIPO_USUARIO]    Script Date: 11/12/2019 10:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pacohostel].[TIPO_USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_USUARIO] [nvarchar](50) NULL,
	[ESTADO] [int] NULL,
	[FECHAREGISTRO] [nvarchar](20) NULL,
	[IDUSUARIOREGISTRA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [pacohostel].[TIPOMONEDA]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pacohostel].[TIPOMONEDA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MONEDA] [nvarchar](50) NULL,
	[SIMBOLO] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [pacohostel].[USUARIOS]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pacohostel].[USUARIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREUSUARIO] [nvarchar](50) NULL,
	[IDENTIFICADOR] [nvarchar](20) NULL,
	[NOMBRES] [nvarchar](100) NULL,
	[APELLIDOS] [nvarchar](100) NULL,
	[ESTADO] [int] NULL,
	[CORREO] [nvarchar](50) NULL,
	[FECHAREGISTRO] [nvarchar](20) NULL,
	[IDUSUARIO_REGISTRA] [int] NULL,
	[TIPOUSUARIO] [int] NULL,
	[FECHAMOD] [nvarchar](20) NULL,
	[ID_USUARIO_MOD] [int] NULL,
 CONSTRAINT [PK__USUARIOS__3214EC27633A357C] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [pacohostel].[BUSQUEDAPREDEC_HUESPED]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[BUSQUEDAPREDEC_HUESPED]
@IDENTIFICADOR NVARCHAR(50)
AS
BEGIN TRY
	SELECT ID,NOMBRES,IDENTIFICADOR,APELLIDOS,TELEFONO,CORREO,NACIONALIDAD FROM HUESPED WHERE ESTADO=1 AND IDENTIFICADOR LIKE '%'+@IDENTIFICADOR+'%'

END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[CAMBIA_CONTRASEÑA]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[CAMBIA_CONTRASEÑA]
@IDUSUARIO INT,
@CONTRASEÑANEW NVARCHAR(100)
AS 
BEGIN TRY
	BEGIN TRANSACTION 
		UPDATE CONTRASENIA SET ESTADO = 0 WHERE IDUSUARIO = @IDUSUARIO
		INSERT INTO CONTRASENIA(IDUSUARIO,CONTRASENIA,ESTADO,FECHAREGISTRO,IDUSUARIO_REGISTRA)
		VALUES(@IDUSUARIO,SUBSTRING(master.dbo.fn_varbintohexstr(HashBytes('SHA1', convert(nvarchar(100),@CONTRASEÑANEW))), 3, 32),1,GETDATE(),@IDUSUARIO)
	COMMIT

	SELECT @IDUSUARIO AS Respuesta
END TRY
BEGIN CATCH
ROLLBACK
SELECT 0 AS Respuesta
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[CAMBIAR_CONTRASEÑA_ADMIN]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[CAMBIAR_CONTRASEÑA_ADMIN]
@CONTRASEÑA_ACTUAL NVARCHAR(100),
@CONTRASEÑA_NEW NVARCHAR(100),
@IDUSUARIO INT,
@IDUSUARIO_CAMBIA INT
AS
BEGIN TRY
	IF EXISTS(SELECT * FROM CONTRASENIA WHERE ESTADO= 1 AND IDUSUARIO=@IDUSUARIO AND CONTRASENIA = (SUBSTRING(master.dbo.fn_varbintohexstr(HashBytes('SHA1', convert(nvarchar(100),@CONTRASEÑA_ACTUAL))), 3, 32))) BEGIN
		IF NOT EXISTS(SELECT * FROM CONTRASENIA WHERE ESTADO = 0 AND IDUSUARIO=@IDUSUARIO AND CONTRASENIA = (SUBSTRING(master.dbo.fn_varbintohexstr(HashBytes('SHA1', convert(nvarchar(100),@CONTRASEÑA_NEW))), 3, 32))) BEGIN
			BEGIN TRANSACTION 
				UPDATE CONTRASENIA SET ESTADO = 0 WHERE IDUSUARIO = @IDUSUARIO
				INSERT INTO CONTRASENIA(IDUSUARIO,CONTRASENIA,ESTADO,FECHAREGISTRO,IDUSUARIO_REGISTRA)
				VALUES(@IDUSUARIO,SUBSTRING(master.dbo.fn_varbintohexstr(HashBytes('SHA1', convert(nvarchar(100),@CONTRASEÑA_NEW))), 3, 32),1,GETDATE(),@IDUSUARIO_CAMBIA)
			COMMIT
			SELECT @IDUSUARIO AS RESPUESTA
		END
		ELSE BEGIN
			SELECT -2 AS RESPUESTA
		END
		
	END
	ELSE BEGIN
		SELECT -1 as RESPUESTA
	END
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[CREAEDITAEDIFICIO]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[CREAEDITAEDIFICIO]
@IDHOTEL INT,
@NOMBRE NVARCHAR(50),
@PISOS INT,
@DESCRIPCION NVARCHAR(200),
@NPISO INT,
@IDESTADO_HOTEL INT,
@IDHABITACION INT,
@IDESTADO_HAB INT,
@NUMHAB INT,
@NUMCAMAS INT,
@IDUSUARIO INT,
@IDTIPOMONEDA INT,
@PRECIO DECIMAL(18,2)
AS
DECLARE @RESP INT
BEGIN TRY
	
	UPDATE EDIFICIO SET NOMBRE_EDIFICIO=@NOMBRE,DESCRIPCION=@DESCRIPCION,ESTADO = @IDESTADO_HOTEL,PISOS=@PISOS WHERE ID = @IDHOTEL
	IF @IDHABITACION=0 BEGIN
		INSERT INTO HABITACION(ID_EDIFICIO,NUMERO,CAMAS,PISO,ESTADO,TIPOMONEDA,PRECIO,FECHAREGISTRO,IDUSUARIO_REGISTRA)
		VALUES(@IDHOTEL,@NUMHAB,@NUMCAMAS,@NPISO,@IDESTADO_HAB,@IDTIPOMONEDA,@PRECIO,GETDATE(),@IDUSUARIO)
		set @RESP = @@IDENTITY
		--INSERTA EN EL LOG 
		INSERT INTO LOGS(USUARIO,FECHA,MODULO,ACCION)
		VALUES(@IDUSUARIO,GETDATE(),'EDIFICIO','Creacion de habitacion ID:'+CAST(@RESP AS NVARCHAR(10))+' ')

	END
	ELSE BEGIN
		UPDATE HABITACION SET NUMERO=@NUMHAB,
							  CAMAS=@NUMCAMAS,
							  PISO=@NPISO,
							  ESTADO=@IDESTADO_HAB,
							  TIPOMONEDA = @IDTIPOMONEDA,
							  PRECIO = @PRECIO,
							  IDUSUARIO_REGISTRA=@IDUSUARIO
		WHERE ID = @IDHABITACION

		--INSERTA EN EL LOG 
		INSERT INTO LOGS(USUARIO,FECHA,MODULO,ACCION)
		VALUES(@IDUSUARIO,GETDATE(),'EDIFICIO',
		'Modifica de habitacion ID:'+CAST(@IDHABITACION AS NVARCHAR(10))+' NCamas:'+CAST(@NUMHAB AS NVARCHAR(10))+'Estado :'+CAST(@IDESTADO_HAB AS NVARCHAR(10))+'' )
	END

	SELECT @IDHOTEL AS RESPUESTA
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[CREAR_EDIFICIO]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[CREAR_EDIFICIO]
@NOM_HOTEL NVARCHAR(50),
@DESCRIPCION NVARCHAR(200),
@PISOS INT,
@IDUSUARIO INT
AS
BEGIN TRY
	INSERT INTO EDIFICIO(NOMBRE_EDIFICIO,DESCRIPCION,ESTADO,PISOS,FECHAREGISTRO,IDUSUARIO_REGISTRA)
	VALUES(@NOM_HOTEL,@DESCRIPCION,1,@PISOS,GETDATE(),@IDUSUARIO)
	SELECT @@IDENTITY as RESPUESTA;
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[CREAR_HUESPED]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[CREAR_HUESPED]
@IDEN NVARCHAR(25),
@NOMBRES NVARCHAR(100),
@APELLIDOS NVARCHAR(200),
@NACIONALIDAD NVARCHAR(50),
@TELEFONO NVARCHAR(20),
@CORREO NVARCHAR(50),
@ESTADO INT,
@IDUSUARIO INT
AS
DECLARE @IDHUESPED INT
BEGIN TRY
			INSERT INTO [HUESPED]
					   ([IDENTIFICADOR]
					   ,[NOMBRES]
					   ,[APELLIDOS]
					   ,[TELEFONO]
					   ,[CORREO]
					   ,[NACIONALIDAD]
					   ,[FECHAREGISTRO]
					   ,[IDUSUARIO_REGISTRA]
					   ,[ESTADO])
				 VALUES
					   (@IDEN
					   ,@NOMBRES
					   ,@APELLIDOS
					   ,@TELEFONO
					   ,@CORREO
					   ,@NACIONALIDAD
					   ,GETDATE()
					   ,@IDUSUARIO
					   ,@ESTADO)
			SET @IDHUESPED = @@IDENTITY
			--INSERTA EN EL HISTORIAL
			INSERT INTO LOGS(USUARIO,FECHA,MODULO,ACCION) 
			VALUES (@IDUSUARIO,GETDATE(),'CREACION HUESPED','CREACION DE HUESPED:'+CAST(@IDHUESPED AS NVARCHAR(20)))
			SELECT @IDHUESPED AS RESPUESTA
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[CREAR_USUARIO]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[CREAR_USUARIO]
@NOMBREUSUARIO NVARCHAR(50),
@IDENTIFICADOR NVARCHAR(20),
@NOMBRES NVARCHAR(100),
@APELLIDOS NVARCHAR(100),
@ESTADO INT,
@CORREO NVARCHAR(50),
@IDUSUARIO_REGISTRA INT,
@TIPOUSUARIO INT
AS
BEGIN TRY
IF NOT EXISTS (SELECT * FROM USUARIOS WHERE IDENTIFICADOR=@IDENTIFICADOR) BEGIN
	INSERT INTO [USUARIOS]
			   ([NOMBREUSUARIO]
			   ,[IDENTIFICADOR]
			   ,[NOMBRES]
			   ,[APELLIDOS]
			   ,[ESTADO]
			   ,[CORREO]
			   ,[FECHAREGISTRO]
			   ,[IDUSUARIO_REGISTRA]
			   ,[TIPOUSUARIO])
		 VALUES
			   (@NOMBREUSUARIO
			   ,@IDENTIFICADOR
			   ,@NOMBRES
			   ,@APELLIDOS
			   ,@ESTADO
			   ,@CORREO
			   ,GETDATE()
			   ,@IDUSUARIO_REGISTRA
			   ,@TIPOUSUARIO)
	
	SELECT @@IDENTITY AS Respuesta

	INSERT INTO LOGS(USUARIO,FECHA,MODULO,ACCION) VALUES(@IDUSUARIO_REGISTRA,GETDATE(),'USUARIOS','REGISTRO USUARIO CON ID:'+CAST( @@IDENTITY AS NVARCHAR(10)))
END
ELSE BEGIN
	SELECT 0 as Respuesta
END
END TRY
BEGIN CATCH
	SELECT -1 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[EDIT_HUESPED]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[EDIT_HUESPED]
@IDEN NVARCHAR(25),
@NOMBRES NVARCHAR(100),
@APELLIDOS NVARCHAR(200),
@NACIONALIDAD NVARCHAR(50),
@TELEFONO NVARCHAR(20),
@CORREO NVARCHAR(50),
@ESTADO INT,
@IDUSUARIO INT,
@IDHUESPED INT
AS
DECLARE @IDENTIFICADOROLD NVARCHAR(20)
BEGIN TRY
	SELECT @IDENTIFICADOROLD = IDENTIFICADOR FROM HUESPED WHERE ID = @IDHUESPED 
	IF @IDENTIFICADOROLD<>@IDEN BEGIN
		IF NOT EXISTS(SELECT * FROM HUESPED WHERE IDENTIFICADOR = @IDEN AND ESTADO<>3) BEGIN
			UPDATE HUESPED SET IDENTIFICADOR=@IDEN,
							NOMBRES = @NOMBRES,
							APELLIDOS = @APELLIDOS,
							TELEFONO = @TELEFONO,
							CORREO = @CORREO,
							NACIONALIDAD = @NACIONALIDAD,
							FECHAMOD = GETDATE(),
							ESTADO = @ESTADO,
							IDUSUARIOMOD = @IDUSUARIO
			WHERE ID = @IDHUESPED
			SELECT @IDHUESPED AS RESPUESTA
		END
		ELSE BEGIN
			SELECT -1 AS RESPUESTA
		END

	END
	ELSE BEGIN
		UPDATE HUESPED SET IDENTIFICADOR=@IDEN,
							NOMBRES = @NOMBRES,
							APELLIDOS = @APELLIDOS,
							TELEFONO = @TELEFONO,
							CORREO = @CORREO,
							NACIONALIDAD = @NACIONALIDAD,
							FECHAMOD = GETDATE(),
							ESTADO = @ESTADO,
							IDUSUARIOMOD = @IDUSUARIO
			WHERE ID = @IDHUESPED
		SELECT @IDHUESPED AS RESPUESTA
	END

END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[EDITAR_GALERIA]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[EDITAR_GALERIA]
@ACTIVO NCHAR(2),
@PORTADA NCHAR(2),
@DESCRIPCION NVARCHAR(50),
@DESCRIPCION2 NVARCHAR(50),
@DESCRIPCION_EN NVARCHAR(50),
@DESCRIPCION2_EN NVARCHAR(50),
@ORDEN INT,
@IDUSUARIO_MOD INT,
@ID_GALERIA INT
AS
BEGIN TRY
	IF EXISTS(SELECT * FROM GALERIA WHERE ID= @ID_GALERIA AND ACTIVO='SI') BEGIN
	BEGIN TRANSACTION;

		UPDATE GALERIA SET ACTIVO = @ACTIVO,
							PORTADA = @PORTADA,
							DESCRIPCION = @DESCRIPCION,
							DESCRIPCION2 = @DESCRIPCION2,
							DESCRIPCION_EN = @DESCRIPCION_EN,
							DESCRIPCION2_EN = @DESCRIPCION2_EN,
							ORDEN = @ORDEN,
							FECHAMOD = GETDATE(),
							IDUSUARIO_MOD = @IDUSUARIO_MOD
							WHERE ID = @ID_GALERIA

	COMMIT TRANSACTION;
		SELECT @ID_GALERIA AS RESPUESTA
	END
	ELSE BEGIN
		SELECT 2 AS RESPUESTA -- LA FOTO NO EXISTE
	END
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION;
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[EDITAR_USUARIO]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[EDITAR_USUARIO]
@NOMBREUSUARIO NVARCHAR(50),
@IDENTIFICADOR NVARCHAR(20),
@NOMBRES NVARCHAR(100),
@APELLIDOS NVARCHAR(100),
@ESTADO INT,
@CORREO NVARCHAR(50),
@IDUSUARIOMOD INT,
@IDTIPOUSUARIO INT,
@IDUSUARIO INT
AS
DECLARE @IDENTIFICADOR_OLD INT
BEGIN TRY
	SELECT @IDENTIFICADOR_OLD=IDENTIFICADOR FROM USUARIOS WHERE ID = @IDUSUARIO


	--EN EL CASO QUE AL USUARIO LE CAMBIEN SU IDENTIFICADOR SE VALIDA EL NUEVO QUE ESTAN INGRESANDO
	IF @IDENTIFICADOR_OLD<>@IDENTIFICADOR BEGIN
		IF NOT EXISTS(SELECT * FROM USUARIOS WHERE IDENTIFICADOR=@IDENTIFICADOR AND ESTADO<>3) BEGIN
			UPDATE USUARIOS SET NOMBREUSUARIO=@NOMBREUSUARIO,
								IDENTIFICADOR = @IDENTIFICADOR,
								NOMBRES = @NOMBRES,
								APELLIDOS = @APELLIDOS,
								ESTADO = @ESTADO,
								CORREO = @CORREO,
								TIPOUSUARIO = @IDTIPOUSUARIO,
								ID_USUARIO_MOD = @IDUSUARIOMOD,
								FECHAMOD = GETDATE()
								WHERE ID = @IDUSUARIO
			INSERT INTO LOGS(USUARIO,FECHA,MODULO,ACCION) VALUES (@IDUSUARIOMOD,GETDATE(),'EDITAUSUARIO','EDICION DE USUARIO ID:'+CAST(@IDUSUARIO AS NVARCHAR(10)))
			SELECT @IDUSUARIO as Respuesta				
		END
		ELSE BEGIN
		--SIGNIFICA QUE EL IDENTIFICADOR YA ESTA SIENDO USADO POR OTRO USUARIO
			SELECT -1 as Respuesta
		END
	END
	ELSE BEGIN
		UPDATE USUARIOS SET NOMBREUSUARIO=@NOMBREUSUARIO,
								IDENTIFICADOR = @IDENTIFICADOR,
								NOMBRES = @NOMBRES,
								APELLIDOS = @APELLIDOS,
								ESTADO = @ESTADO,
								CORREO = @CORREO,
								TIPOUSUARIO = @IDTIPOUSUARIO,
								ID_USUARIO_MOD = @IDUSUARIOMOD,
								FECHAMOD = GETDATE()
								WHERE ID = @IDUSUARIO
			INSERT INTO LOGS(USUARIO,FECHA,MODULO,ACCION) VALUES (@IDUSUARIOMOD,GETDATE(),'EDITAUSUARIO','EDICION DE USUARIO ID:'+CAST(@IDUSUARIO AS NVARCHAR(10)))
		SELECT @IDUSUARIO as Respuesta
	END

END TRY
BEGIN CATCH
SELECT 0 as Respuesta
END CATCH

GO
/****** Object:  StoredProcedure [pacohostel].[ELIMINAR_HABITACION]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [pacohostel].[ELIMINAR_HABITACION]
@IDHABITACION INT,
@IDUSUARIO INT
AS
BEGIN TRY
	
		UPDATE HABITACION SET ESTADO = 3 WHERE ID=@IDHABITACION
		--INSERTA EN EL LOG 
		INSERT INTO LOGS(USUARIO,FECHA,MODULO,ACCION)
		VALUES(@IDUSUARIO,GETDATE(),'EDIFICIO',
		'Elimina de habitacion ID:'+CAST(@IDHABITACION AS NVARCHAR(10))+'' )

	SELECT @IDHABITACION
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[ELIMINAR_HUESPED]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[ELIMINAR_HUESPED]
@IDHUESPED INT,
@IDUSUARIO_DEL INT
AS
BEGIN TRY
	-- ESTADO 3 ELIMINADO 
	UPDATE HUESPED SET ESTADO=3 WHERE ID = @IDHUESPED
	INSERT INTO LOGS(USUARIO,FECHA,MODULO,ACCION)
	VALUES(@IDUSUARIO_DEL,GETDATE(),'LISTADO_HUESPED','ELIMINA AL HUESPED ID:'+CAST(@IDHUESPED AS NVARCHAR(10)))

	SELECT @IDHUESPED
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[ELIMINAR_RESERVA]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[ELIMINAR_RESERVA]
@IDRESERVA INT,
@IDUSUARIO INT,
@COMENTARIO NVARCHAR(200)
AS
BEGIN TRY

	--REGISTRA EN EL HISTORIAL
	IF EXISTS(SELECT * FROM RESERVAS WHERE ID = @IDRESERVA) BEGIN
		INSERT INTO [LOG_RESERVAS]
			   ([ID]
			   ,[ID_HABITACION]
			   ,[FECHA_INICIO]
			   ,[FECHA_FIN]
			   ,[ID_HUESPED]
			   ,[FECHA_CHECKIN]
			   ,[HORA_CHECKIN]
			   ,[USR_CHECKIN]
			   ,[FECHA_CHECKOUT]
			   ,[HORA_CHECKOUT]
			   ,[USR_CHECKOUT]
			   ,[FECHA_RESERVA]
			   ,[OBSERVACION]
			   ,[IDUSUARIO_RESERVA]
			   ,[IDUSUARIO_MODIFICA]
			   ,[ACCION]
			   ,[COMENTARIO]
			   ,[FECHA_MODIFICA])
		 SELECT [ID]
			   ,[ID_HABITACION]
			   ,[FECHA_INICIO]
			   ,[FECHA_FIN]
			   ,[ID_HUESPED]
			   ,[FECHA_CHECKIN]
			   ,[HORA_CHECKIN]
			   ,[USR_CHECKIN]
			   ,[FECHA_CHECKOUT]
			   ,[HORA_CHECKOUT]
			   ,[USR_CHECKOUT]
			   ,[FECHA_RESERVA]
			   ,[OBSERVACION]
			   ,[IDUSUARIO_RESERVA]
			   ,@IDUSUARIO
			   ,'ELIMINA'
			   ,@COMENTARIO
			   ,GETDATE()
			   FROM RESERVAS WHERE ID = @IDRESERVA
		--SE PROCEDE A ELIMINAR LA RESERVA

		DELETE FROM RESERVAS WHERE ID = @IDRESERVA
		SELECT 'Reserva Eliminada Correctamente' AS RESPUESTA
	END
	ELSE BEGIN
		SELECT 'Reserva no existe' as RESPUESTA
	END
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH

GO
/****** Object:  StoredProcedure [pacohostel].[ELIMINAR_USUARIO]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[ELIMINAR_USUARIO]
@IDUSUARIO INT,
@IDUSUARIOELIMINA INT
AS
BEGIN TRY
	UPDATE USUARIOS SET ESTADO = 3 WHERE ID = @IDUSUARIO
	INSERT INTO LOGS(USUARIO,FECHA,MODULO,ACCION) VALUES (@IDUSUARIOELIMINA,GETDATE(),'LISTADOUSUARIO','ELIMINA AL USUARIO ID:'+CAST(@IDUSUARIO AS NVARCHAR(10)))
	SELECT @IDUSUARIO AS RESPUESTA
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH

GO
/****** Object:  StoredProcedure [pacohostel].[INSERTAR_FOTOS]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[INSERTAR_FOTOS]
@LINKFOTO NVARCHAR(50),
@IDUSUARIO_SUBE INT

AS
DECLARE @ID_GALERIA INT
BEGIN TRY
	IF NOT EXISTS(SELECT * FROM GALERIA WHERE LINKFOTO= @LINKFOTO AND ACTIVO='SI') BEGIN
	BEGIN TRANSACTION;
		INSERT INTO GALERIA(LINKFOTO,
							ACTIVO,
							FECHA_SUBE,
							IDUSUARIO_SUBE)
					VALUES(@LINKFOTO,
							'SI',
							GETDATE(),
							@IDUSUARIO_SUBE)
	COMMIT TRANSACTION;
		SET @ID_GALERIA = @@IDENTITY
		SELECT @ID_GALERIA AS RESPUESTA
	END
	ELSE BEGIN
		SELECT 2 AS RESPUESTA -- LA FOTO YA EXISTE
	END
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION;
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[LOGIN]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[LOGIN]
@USUARIO NVARCHAR(50),
@PASS NVARCHAR(100)
AS
DECLARE @IDUSUARIO INT
DECLARE @CONTRASENIA NVARCHAR(100)
DECLARE @IDESTADO INT
BEGIN TRY
	IF EXISTS(SELECT * FROM USUARIOS WHERE NOMBREUSUARIO=@USUARIO) BEGIN
		 SELECT @IDUSUARIO=ID,@IDESTADO=ESTADO FROM USUARIOS WHERE NOMBREUSUARIO=@USUARIO
		 IF @IDESTADO=1 BEGIN
			IF (SELECT CONTRASENIA FROM CONTRASENIA WHERE IDUSUARIO = @IDUSUARIO AND ESTADO=1) = SUBSTRING(master.dbo.fn_varbintohexstr(HashBytes('SHA1', convert(nvarchar(100),@PASS))), 3, 32)
				or (SELECT CONTRASENIA FROM CONTRASENIA WHERE IDUSUARIO = @IDUSUARIO AND ESTADO=1) =  @PASS BEGIN
				--INICIO SESION CORRECTO
				SELECT 'OK' as Respuesta
			END
			ELSE
				SELECT 'Contraseña incorrecta.' as Respuesta
				INSERT INTO [dbo].[LOGS]([USUARIO],[FECHA],[MODULO],[ACCION])
				VALUES(@USUARIO,GETDATE(),'LOGIN','Contraseña incorrecta')
			END
		 ELSE BEGIN
			SELECT 'El Usuario esta bloqueado comunicarse con el administracion' as Respuesta
			INSERT INTO [dbo].[LOGS]([USUARIO],[FECHA],[MODULO],[ACCION])
				VALUES(@USUARIO,GETDATE(),'LOGIN','El Usuario esta bloqueado comunicarse con el administracion')
		 END
	END
	ELSE BEGIN
		SELECT 'Usuario no esta registrado' as Respuesta
		INSERT INTO [dbo].[LOGS]([USUARIO],[FECHA],[MODULO],[ACCION])
				VALUES(@USUARIO,GETDATE(),'LOGIN','Usuario no esta registrado')
	END
	
END TRY
BEGIN CATCH
SELECT 0 AS Respuesta
END CATCH

GO
/****** Object:  StoredProcedure [pacohostel].[Obtener_Datos_Usuario]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[Obtener_Datos_Usuario]
@USUARIO NVARCHAR(50),
@PASS NVARCHAR(100)
AS
BEGIN TRY
	SELECT U.ID AS IDUSUARIO,NOMBREUSUARIO,IDENTIFICADOR,NOMBRES,APELLIDOS,TIPOUSUARIO,CORREO,
			T.TIPO_USUARIO
			FROM USUARIOS U
			INNER JOIN CONTRASENIA C ON C.IDUSUARIO = U.ID
			INNER JOIN TIPO_USUARIO T ON T.ID=U.TIPOUSUARIO
			WHERE U.NOMBREUSUARIO = @USUARIO 
			AND (C.CONTRASENIA = SUBSTRING(master.dbo.fn_varbintohexstr(HashBytes('SHA1', convert(nvarchar(100),@PASS))), 3, 32) OR
			C.CONTRASENIA = @PASS)
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[PERSONAS_RESERVADAS]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[PERSONAS_RESERVADAS]
@IDHABITACION INT
AS
BEGIN TRY
	SELECT H.IDENTIFICADOR,H.NOMBRES,H.APELLIDOS,
			CONVERT(VARCHAR(10),CAST(R.FECHA_INICIO AS DATE),126)+' al '+
			CONVERT(VARCHAR(10),CAST(R.FECHA_FIN AS DATE),126) AS FECHAS,
			R.ID,
			R.ID AS ELIMINA
			FROM RESERVAS R
			INNER JOIN HUESPED H ON H.ID =R.ID_HUESPED
			 WHERE R.ID_HABITACION = @IDHABITACION AND CONVERT(VARCHAR(8),GETDATE(),112) BETWEEN R.FECHA_INICIO AND R.FECHA_FIN
				AND ISNULL(FECHA_CHECKOUT,'')=''

END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[REALIZAR_CHECKIN_CHECKOUT]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[REALIZAR_CHECKIN_CHECKOUT]
@IDRESERVA INT,
@IDUSUARIO INT,
@TIPO NVARCHAR(10)
AS
BEGIN TRY
	IF @TIPO='IN' BEGIN
		UPDATE RESERVAS 
			SET FECHA_CHECKIN = CONVERT(VARCHAR(8),GETDATE(),112),
			HORA_CHECKIN = convert(varchar(8), GETDATE(), 108),
			USR_CHECKIN = @IDUSUARIO
		WHERE ID = @IDRESERVA

		--INSERTA EN EL LOG
		INSERT INTO LOGS (USUARIO,FECHA,MODULO,ACCION) 
		VALUES(@IDUSUARIO,GETDATE(),'RESERVAS','CheckIn Realizado en la Reserva'+CAST(@IDRESERVA AS NVARCHAR(20)))

		SELECT 'Check'+CAST(@TIPO AS NVARCHAR(10))+' Realizado correctamente' as Respuesta
	END

	IF @TIPO='OUT' BEGIN
		UPDATE RESERVAS 
			SET FECHA_CHECKOUT = CONVERT(VARCHAR(8),GETDATE(),112),
			HORA_CHECKOUT = convert(varchar(8), GETDATE(), 108),
			USR_CHECKOUT = @IDUSUARIO
		WHERE ID = @IDRESERVA

		--INSERTA EN EL LOG
		INSERT INTO LOGS (USUARIO,FECHA,MODULO,ACCION) 
		VALUES(@IDUSUARIO,GETDATE(),'RESERVAS','CheckOut Realizado en la Reserva'+CAST(@IDRESERVA AS NVARCHAR(20)))

		SELECT 'Check'+CAST(@TIPO AS NVARCHAR(10))+' Realizado correctamente' as Respuesta
	END
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH

GO
/****** Object:  StoredProcedure [pacohostel].[REPORTE_RESERVAS]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[REPORTE_RESERVAS]
@FECHAINICIO NVARCHAR(20),
@FECHAFIN NVARCHAR(20)
AS
BEGIN TRY 
	SELECT DISTINCT E.NOMBRE_EDIFICIO,
			H.NUMERO,
			(H.CAMAS - (SELECT COUNT(*) FROM RESERVAS WHERE FECHA_INICIO<=REPLACE(REPLACE(CONVERT(varchar(10), CONVERT(date, @FECHAFIN, 103), 120),'/',''),'-','')
										  AND FECHA_FIN >=REPLACE(REPLACE(CONVERT(varchar(10), CONVERT(date, @FECHAINICIO, 103), 120),'/',''),'-','')
										  AND ID_HABITACION = H.ID AND ISNULL(FECHA_CHECKOUT,'')=''))
										  AS LIBRES,
			H.PISO,
			(CASE WHEN H.ESTADO=1 THEN 'HABITABLE' ELSE 'EN REPARACION' END) AS ESTADOHABITACION,
			Convert(varchar,CAST(R.FECHA_INICIO AS DATE),103) AS FECHA_INICIO,
			Convert(varchar,CAST(R.FECHA_FIN AS DATE),103) AS FECHA_FIN,
			H.CAMAS AS CANTCAMAS,
			DATEDIFF(DAY,GETDATE(),CAST(R.FECHA_FIN AS DATE)) AS DIASTERMINA,
			(CASE WHEN ISNULL(R.FECHA_CHECKOUT,'')<>'' THEN 'CON CHECKOUT' ELSE 
						(CASE WHEN ISNULL(R.FECHA_CHECKIN,'')<>'' THEN 'CON CHECKIN' ELSE 'SIN CHECKIN' END) 
			END) AS CHECKOUTIN
		    FROM HABITACION H
					INNER JOIN EDIFICIO E ON E.ID=H.ID_EDIFICIO
					LEFT JOIN RESERVAS R ON R.ID_HABITACION = H.ID
							AND FECHA_INICIO<=REPLACE(REPLACE(CONVERT(varchar(10), CONVERT(date, @FECHAFIN, 103), 120),'/',''),'-','')
							AND FECHA_FIN >=REPLACE(REPLACE(CONVERT(varchar(10), CONVERT(date, @FECHAINICIO, 103), 120),'/',''),'-','')
			WHERE H.ESTADO<>3 ORDER BY PISO,NUMERO 

END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[RESERVAR_HABITACION]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[RESERVAR_HABITACION]
@IDEN NVARCHAR(25),
@NOMBRES NVARCHAR(100),
@APELLIDOS NVARCHAR(200),
@NACIONALIDAD NVARCHAR(50),
@TELEFONO NVARCHAR(20),
@CORREO NVARCHAR(50),
@FECHAINGRESO NVARCHAR(10),
@FECHASALIDA NVARCHAR(10),
@COMENTARIO NVARCHAR(200),
@IDHABITACION INT,
@IDHUESPED INT,
@IDUSUARIO INT
AS
DECLARE @ID_RESERVA INT
DECLARE @CANTRESERVAS INT
DECLARE @CANTCAMASDISP INT
BEGIN TRY
	--VALIDA QUE LA HABITACION ESTE LIBRE EN EL RANGO DE FECHAS
	BEGIN TRANSACTION 
	SELECT @CANTRESERVAS=(COUNT(*)) FROM RESERVAS 
				WHERE ID_HABITACION = @IDHABITACION 
				AND FECHA_INICIO<=REPLACE(CONVERT(varchar(10), CONVERT(date, @FECHASALIDA, 103), 120),'-','')
				AND FECHA_FIN >=REPLACE(CONVERT(varchar(10), CONVERT(date, @FECHAINGRESO, 103), 120),'-','')
				AND ISNULL(FECHA_CHECKOUT,'')=''

	SELECT @CANTCAMASDISP=CAMAS FROM HABITACION WHERE ID = @IDHABITACION

	IF @CANTCAMASDISP>@CANTRESERVAS BEGIN

		--SI ES CERO SIGNIFICA QUE EL HUESPED NO EXISTE ENTONCES SE CREA
		IF @IDHUESPED=0 AND NOT EXISTS(SELECT * FROM HUESPED WHERE IDENTIFICADOR = @IDEN) BEGIN
				INSERT INTO [HUESPED]
					   ([IDENTIFICADOR]
					   ,[NOMBRES]
					   ,[APELLIDOS]
					   ,[TELEFONO]
					   ,[CORREO]
					   ,[NACIONALIDAD]
					   ,[FECHAREGISTRO]
					   ,[IDUSUARIO_REGISTRA]
					   ,[ESTADO])
				 VALUES
					   (@IDEN
					   ,@NOMBRES
					   ,@APELLIDOS
					   ,@TELEFONO
					   ,@CORREO
					   ,@NACIONALIDAD
					   ,GETDATE()
					   ,@IDUSUARIO
					   ,1)
			SET @IDHUESPED = @@IDENTITY
			--INSERTA EN EL HISTORIAL
			INSERT INTO LOGS(USUARIO,FECHA,MODULO,ACCION) VALUES (@IDUSUARIO,GETDATE(),'RESERVAS','CREACION DE HUESPED:'+CAST(@IDHUESPED AS NVARCHAR(20)))
		END
		--ACTUALIZA SUS DATOS
		ELSE BEGIN
			UPDATE HUESPED SET IDENTIFICADOR=@IDEN,
							   NOMBRES=@NOMBRES,
							   APELLIDOS=@APELLIDOS,
							   TELEFONO = @TELEFONO,
							   CORREO = @CORREO,
							   NACIONALIDAD = @NACIONALIDAD
					WHERE ID = @IDHUESPED
			--INSERTA EN EL HISTORIAL
			INSERT INTO LOGS(USUARIO,FECHA,MODULO,ACCION) VALUES (@IDUSUARIO,GETDATE(),'RESERVAS','SE ACTUALIZO DATOS DEL :'+CAST(@IDHUESPED AS NVARCHAR(20)))
		END
		--INSERTA LA RESERVA
		INSERT INTO [RESERVAS]
			   ([ID_HABITACION]
			   ,[FECHA_INICIO]
			   ,[FECHA_FIN]
			   ,[ID_HUESPED]
			   ,[FECHA_RESERVA]
			   ,[OBSERVACION]
			   ,[IDUSUARIO_RESERVA])
		 VALUES
			   (@IDHABITACION
			   ,REPLACE(CONVERT(varchar(10), CONVERT(date, @FECHAINGRESO, 103), 120),'-','')
			   ,REPLACE(CONVERT(varchar(10), CONVERT(date, @FECHASALIDA, 103), 120),'-','') 
			   ,@IDHUESPED
			   ,GETDATE()
			   ,@COMENTARIO
			   ,@IDUSUARIO)
		COMMIT
		SET @ID_RESERVA = @@IDENTITY
		INSERT INTO LOGS(USUARIO,FECHA,MODULO,ACCION) VALUES (@IDUSUARIO,GETDATE(),'RESERVAS','CREACION DE RESERVA:'+CAST(@ID_RESERVA AS NVARCHAR(20)))
		SELECT 'ok' AS RESPUESTA
	END
	ELSE BEGIN
		SELECT 'La habitacíon ya cuenta con reserva en las fechas seleccionadas </br>' AS RESPUESTA
	END
END TRY 
BEGIN CATCH
ROLLBACK TRANSACTION; 
SELECT 'Ocurrio un error al reservar, si el problema persiste informar al administrador</br>' AS RESPUESTA
END CATCH

GO
/****** Object:  StoredProcedure [pacohostel].[SELECT_DATOS_HABITACION]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[SELECT_DATOS_HABITACION]
@IDEDIFICIO INT,
@IDPISO INT
AS
BEGIN TRY
	SELECT ID AS IdHabitacion,
		   ESTADO AS IdEstado,
		   NUMERO AS NumHabitacion,
		   CAMAS AS NumCamas,
		   ISNULL(PRECIO,0) as Precio,
		   ISNULL(TIPOMONEDA,0) as IdTipoMoneda,
		   (CAMAS-(SELECT COUNT(*) FROM RESERVAS WHERE ID_HABITACION = HABITACION.ID
			AND CONVERT(VARCHAR(8),GETDATE(),112) BETWEEN FECHA_INICIO AND FECHA_FIN
			AND ISNULL(FECHA_CHECKOUT,'')='')) AS CamasDisponibles

		   FROM HABITACION 
		   WHERE ID_EDIFICIO = @IDEDIFICIO AND PISO=@IDPISO AND ESTADO=1

END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[SELECT_DATOS_USUARIOS]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[SELECT_DATOS_USUARIOS]
@NOMBREUSUARIO NVARCHAR(50)
AS
declare @IDESTADO INT
BEGIN TRY
	IF EXISTS(SELECT CORREO,ESTADO,IDENTIFICADOR,NOMBRES,APELLIDOS FROM USUARIOS WHERE NOMBREUSUARIO=@NOMBREUSUARIO) BEGIN
		SELECT @IDESTADO=ESTADO FROM USUARIOS WHERE NOMBREUSUARIO=@NOMBREUSUARIO

		IF @IDESTADO=1 BEGIN
			SELECT ID,CORREO,ESTADO,IDENTIFICADOR,NOMBRES,APELLIDOS FROM USUARIOS WHERE NOMBREUSUARIO=@NOMBREUSUARIO
		END
		ELSE BEGIN
			SELECT 'El usuario esta bloqueado , comuniquese con el Administrador' AS Respuesta
		END
	END
	ELSE BEGIN
		SELECT 'El usuario no esta registrado en nuestra base de datos.' AS Respuesta
	END
END TRY
BEGIN CATCH
SELECT 'Ocurrio un error , si persiste comuniquese con el administrador' AS Respuesta
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[SELECT_GALERIA]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[SELECT_GALERIA]
@TOP INT
AS
BEGIN TRY
	IF @TOP=0 BEGIN
		SELECT * FROM GALERIA WHERE ACTIVO='SI' ORDER BY FECHA_SUBE DESC
	END
	ELSE IF @TOP=1 BEGIN
		SELECT TOP 8 * FROM GALERIA WHERE ACTIVO='SI' ORDER BY FECHA_SUBE DESC
	END
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[SELECT_GALERIA_CARUSEL]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[SELECT_GALERIA_CARUSEL]

AS
BEGIN TRY
	SELECT * FROM GALERIA WHERE PORTADA='SI' AND ACTIVO='SI' ORDER BY ORDEN
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[SELECT_GALERIA_EDIT]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[SELECT_GALERIA_EDIT]

AS
BEGIN TRY
	SELECT '../'+LINKFOTO AS LINKFOTO,
			ACTIVO,
			PORTADA,
			DESCRIPCION,
			DESCRIPCION2,
			DESCRIPCION_EN,
			DESCRIPCION2_EN,
			ORDEN,
			ID
	FROM GALERIA ORDER BY PORTADA DESC
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[SELECT_HABITACIONES_LIBRES]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[SELECT_HABITACIONES_LIBRES]
@FECHAINICIO NVARCHAR(20),
@FECHAFIN NVARCHAR(20),
@CANTPERSONAS INT
AS
DECLARE @CANTCAMAS INT
BEGIN TRY
	
		SELECT	
			@CANTCAMAS=SUM(H.CAMAS)
			FROM HABITACION H
			INNER JOIN EDIFICIO E ON E.ID = H.ID_EDIFICIO
			WHERE H.ID NOT IN (SELECT ID_HABITACION FROM RESERVAS 
								WHERE FECHA_INICIO<=REPLACE(CONVERT(varchar(10), CONVERT(date, @FECHAFIN, 103), 120),'-','')
								AND FECHA_FIN >=REPLACE(CONVERT(varchar(10), CONVERT(date, @FECHAINICIO, 103), 120),'-','')
								AND ISNULL(FECHA_CHECKOUT,'')='')
								AND H.ESTADO=1
	--VALIDA LA CANTIDAD DE CAMAS
	IF @CANTCAMAS>=@CANTPERSONAS BEGIN
	
		SELECT	E.NOMBRE_EDIFICIO,
			H.ID,H.PISO,
			H.NUMERO,
			H.CAMAS,
			ISNULL(H.PRECIO,0) AS PRECIO,
			T.SIMBOLO AS  MONEDA
			FROM HABITACION H
			INNER JOIN EDIFICIO E ON E.ID = H.ID_EDIFICIO
			LEFT JOIN TIPOMONEDA T ON T.ID = H.TIPOMONEDA
			WHERE H.ID NOT IN (SELECT ID_HABITACION FROM RESERVAS 
								WHERE  FECHA_INICIO<=REPLACE(CONVERT(varchar(10), CONVERT(date, @FECHAFIN, 103), 120),'-','')
								AND FECHA_FIN >=REPLACE(CONVERT(varchar(10), CONVERT(date, @FECHAINICIO, 103), 120),'-','')
								AND ISNULL(FECHA_CHECKOUT,'')='')
								AND H.ESTADO=1
			
	END
	ELSE BEGIN
		SELECT 'No hay capacidad' AS Respuesta 
	END
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH 
GO
/****** Object:  StoredProcedure [pacohostel].[SELECT_HUESPED]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[SELECT_HUESPED]
@IDHUESPED INT
AS
BEGIN TRY
	SELECT	ID,
			IDENTIFICADOR,
			NOMBRES,
			APELLIDOS,
			TELEFONO,
			CORREO,NACIONALIDAD,
			(CASE WHEN ISNULL(ESTADO,1)=1 THEN 'ACTIVO' ELSE 'INACTIVO' END) AS ESTADO,
			ESTADO AS IDESTADO
			FROM HUESPED 
	WHERE ID = (CASE WHEN @IDHUESPED=0 THEN ID ELSE @IDHUESPED END) AND ISNULL(ESTADO,1) <>3

END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[SELECT_MONEDAS]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[SELECT_MONEDAS]
AS
BEGIN TRY
	SELECT * FROM TIPOMONEDA
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[SELECT_RESERVAS_HABITACION]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[SELECT_RESERVAS_HABITACION]
 @IDHABITACION INT
AS
BEGIN TRY
SELECT NOMBRES+' '+APELLIDOS AS NOMBRES,
		CONVERT(VARCHAR(10),CAST(FECHA_INICIO AS DATE),126) AS FECINICIO,
		CONVERT(VARCHAR(10),CAST(FECHA_FIN AS DATE),126) AS FECFIN
		FROM RESERVAS R
		INNER JOIN HUESPED H ON H.ID=R.ID_HUESPED
		WHERE 
		R.ID_HABITACION = @IDHABITACION AND R.FECHA_FIN >=CONVERT(VARCHAR(10),GETDATE(),112) AND ISNULL(R.FECHA_CHECKOUT,'')=''
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[SELECT_TIPO_USUARIO]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[SELECT_TIPO_USUARIO]

AS
BEGIN TRY
	SELECT ID,TIPO_USUARIO FROM [TIPO_USUARIO] WHERE ESTADO=1 AND ID <>3 ORDER BY TIPO_USUARIO
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[SELECT_TODOS_USUARIOS]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[SELECT_TODOS_USUARIOS]
@IDUSUARIO INT 
AS
BEGIN TRY
	SELECT U.ID,U.NOMBREUSUARIO,
	U.IDENTIFICADOR,
	U.NOMBRES,
	U.APELLIDOS,
	(CASE WHEN U.ESTADO = 1 THEN 'Activo' ELSE 'Inactivo' END) AS ESTADO,
	U.CORREO,
	U.ESTADO AS IDESTADO,
	T.TIPO_USUARIO,
	U.TIPOUSUARIO AS IDTIPO
	FROM USUARIOS U 
		INNER JOIN TIPO_USUARIO T ON T.ID=U.TIPOUSUARIO
		WHERE U.ID = (CASE WHEN @IDUSUARIO<>0 THEN @IDUSUARIO ELSE U.ID END) AND U.ESTADO <>3
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESA
END CATCH
GO
/****** Object:  StoredProcedure [pacohostel].[SELECTDATOS_EDIFICIO]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[SELECTDATOS_EDIFICIO]
@ID_EDIFICIO INT
AS
BEGIN TRY
	
	SELECT EDIFICIO.ID,NOMBRE_EDIFICIO,DESCRIPCION,E.ESTADO,PISOS,EDIFICIO.ESTADO AS IDESTADO,
			(SELECT COUNT(NUMERO) FROM HABITACION WHERE ID_EDIFICIO = EDIFICIO.ID AND ESTADO = 1) AS HABITACIONES,
			(SELECT COUNT(NUMERO) FROM HABITACION 
										WHERE ID_EDIFICIO = EDIFICIO.ID 
										AND ESTADO = 1 
										AND ID NOT IN (SELECT R.ID_HABITACION FROM 
													RESERVAS R
													INNER JOIN HABITACION H ON H.ID = R.ID_HABITACION 
													WHERE H.ID_EDIFICIO = EDIFICIO.ID
													AND CONVERT(varchar(8), GETDATE(), 112) BETWEEN R.FECHA_INICIO AND R.FECHA_FIN)) AS LIBRES
			FROM EDIFICIO 
			INNER JOIN ESTADO_HOTEL E ON E.ID = EDIFICIO.ESTADO
			WHERE EDIFICIO.ID = (CASE WHEN @ID_EDIFICIO<>'0' THEN @ID_EDIFICIO ELSE EDIFICIO.ID END) 

END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH

GO
/****** Object:  StoredProcedure [pacohostel].[VALIDA_IDENTIFICADOR_HUESPED]    Script Date: 11/12/2019 10:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pacohostel].[VALIDA_IDENTIFICADOR_HUESPED]
@IDENTIFICADOR NVARCHAR(20)
AS
BEGIN TRY
	IF NOT EXISTS(SELECT * FROM HUESPED WHERE IDENTIFICADOR = @IDENTIFICADOR  AND ISNULL(ESTADO,1)<>3) BEGIN
		SELECT 1 AS RESPUESTA
	END
	ELSE BEGIN
		SELECT -1 as RESPUESTA
	END
END TRY
BEGIN CATCH
SELECT 0 AS RESPUESTA
END CATCH

GO
